.local {
    position: relative;
    width: 60vw;
    height: 200px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    margin-bottom: 30px;
    display: table;
}

.localplayer {
    width: 40vw;
    display: table-cell;
    margin: 0 auto;
}